@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bb-black: #050816;
  --bb-pink: #ff3ea5;
  --bb-blue: #2dd4ff;
  --bb-lime: #a3ff12;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-bbPink: var(--bb-pink);
  --color-bbBlue: var(--bb-blue);
  --color-bbLime: var(--bb-lime);
  --color-bbBlack: var(--bb-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
